html{
    font-family: 'Nunito';
}

body{
    background-color: #130f0d;
    color: white;
}

.boards{
    display: flex;
    /* justify-content: space-between; */
}

.board{
    margin-top: 35px;
    background-color: #141316;
    border: 1px solid #fd951f11;
    border-radius: 4px;
    margin: 15px;
}

.board h3{
padding: 16px;
margin: 0;
color: #FD951Fcc;
}

.dropzone{
    padding: 16px;
    min-width: 300px;
    min-height: 200px;
}

.card {
    width: 250px;
    margin: 25px ;
    padding: 16px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    background-color: #1a1a1c;
    box-shadow: 0 2px 2px -1px #FD951Fcc;
}

.status{
    width: 30px;
    height: 10px;
    background-color: gray;
    margin-bottom: 16px;
    border-radius: 8px;
}

.status.green{
    background-color:#23d2ac ;
}

.status.blue{
    background-color:#33adff ;
}

.status.red{
    background-color: red ;
}